@media only screen and (max-width: 768px) {

    /* banner  */
    .images-box {
        margin-top: -80px;
        z-index: 1;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .mobile-image img {
        display: block;
        width: 100%;
    }

    .banner-main-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-box h2.heading {
        color: #000;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 1.5px;
    }

    .content p {
        color: #000;
        font-size: 14px;
        font-family: Poppins;
        line-height: 16px;
    }

    .content-box a.button {
        font-size: 12px;
        padding: 5px 0;
        max-width: 140px;
        font-weight: 500;
        border: 1px solid black;
    }

    .content-box {
        position: unset;
        z-index: 2;
    }

    .content-container {
        max-width: 100%;
        padding: 30px 20px 0px 30px;
    }

    .contain-inner {
        max-width: 330px;
    }

    /* brand  */

    .brand-img {
        /* width: 244px !important; */
    }
    .brand .slick-list .slick-track {
        display: flex;align-items: center;
    }

    .brand.slick-initialized.slick-slider .slick-list.draggable .brand-img img{
        display: block;margin: auto;
    }
    /* water section  */

    

    .water-content p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-family: Poppins;
        line-height: 18px;
        margin-bottom: 40px;
    }

    .water .slick-slide img {
        display: unset !important;
    }

    .water button#slick-slide-control10,
    .water button#slick-slide-control11,
    .water button#slick-slide-control12 {
        display: none;
    }

    .water ul.slick-dots {
        position: absolute;
        bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .water ul.slick-dots li {
        list-style-type: none;
        height: 10px;
        width: 10px;
        background-color: #aaa5a5;
        border-radius: 50%;
        padding: 4px;
        margin-bottom: 15px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .water ul.slick-dots li.slick-active {
        background-color: #666666;
    }

    /* best seller  */

    .bestseller {
        padding-bottom: 40px;
    }

    .bestseller-heading h2 {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-family: Poppins;
        font-weight: 600;
        line-height: 95.435px;
        letter-spacing: 1.735px;
    }

    .product-child .content .para1 {
        font-size: 10px;
        line-height: 16px;
    }

    .product-child .content .para2 {
        font-size: 10px;
        line-height: 16px;
    }

    .product-child .btn {
        margin-top: 35px;
    }

    .product-child .btn p {
        font-size: 12px;
        min-height: 35px;
        line-height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-child {
        /* min-height: 350px !important; */
        display: flex !important;
        flex-direction: column;
    }

    .products.slick-initialized.slick-slider .slick-track {
        display: flex;
        gap: 15px;
    }

    /* review  */

    .review-content p {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 16px;
    }

    .review {
        background-image: url(../assets/mobile-review.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 15px;
        padding-bottom: 50px;
    }

    span.review-head {
        padding-top: 60px;
        line-height: 12px;
    }

    .review-content p {
        padding-top: 10px;
    }

    .review-content span.review-head {
        font-size: 24px;
    }

    .star svg {
        width: 100px;
    }

    /* banner 2  */

    .banner-2-container {}

    .desktop-image-2 {
        display: none;
    }

    .mobile-image-2 {
        display: block;
    }

    .mobile-image-2 img {
        display: block;
        width: 100%;
    }

    .banner-2 .content-3 h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1.227px;
    }

    .banner-2 .content-3 p {
        font-size: 12px;
        font-family: Poppins;
        line-height: 16px;
    }

    .banner-2 .content-3 .btn {
        font-size: 12px;
        padding: 5px 15px;
        max-width: 140px;
    }

    .content-inner-2 {
        align-items: start;
    }

    .content-child {
        max-width: 55%;
        padding: 30px 20px 0;
        text-align: center;
        margin: unset;
    }

    .content-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* tabs 2  */

    .tabs {
        padding-top: 0;
        padding-bottom: 20px;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    

    .mobile-span {
        display: none;
    }

    .tabs p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.868px;
    }

    .tabs span{
        padding: 0px 10px;
    }

    /* clinically proven */

    .proven-container {
        background-image: url(../assets/mobile-proven.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .proven-row {
        flex-direction: column;
    }

    .proven-col {
        width: 100%;
    }

    .proven-col h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 69.407px;
        letter-spacing: 1.5px;
        padding-top: 110px;
    }

    .check p {
        font-size: 14px;
    }

    .check .highlight {
        font-size: 14px;
    }

    .check svg {
        width: 25px;
        height: 25px;
        margin-right: 11px;
    }


    .proven-col .btn-mobile {
        display: block;
        color: #FFF;
        text-align: center;
        background-color: black;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 25px;
        font-size: 12px;
        padding: 5px 25px;
    }

    .proven-col .btn-desktop {
        display: none;
    }

    /* banner 3  */

    .desktop-image-3 {
        display: none;
    }

    .mobile-image-3 {
        display: block;
    }

    .mobile-image-3 img {
        display: block;
        width: 100%;
    }

    .banner-3-container .content-box-3 .content-container-3 .content-3 p {
        display: none;
    }

    .banner-3-para {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-family: Poppins;
        line-height: 16px;
        padding: 25px 33px;
    }

    .contain-inner-3{
        padding-bottom: 25px;padding-left: 25px;
    }

    .contain-inner-3 h2.heading-3 {
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 1.734px;
        text-align: left;
    }

    .content-container-3 {
        max-width: 200px;
        margin: 0;
    }
    /* comapre section  */

    .compare-container {
        padding-top: 0;
        max-width: 350px;
    }

    .col1 {
        flex-direction: column-reverse;
    }

    .col3 {
        flex-direction: column;
    }

    .compare-content h3 {
        color: #000;
        text-align: center !important;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 600;
        line-height: 12px;
    }

    .compare-content p {
        color: #000;
        text-align: center !important;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 12px;
    }

    .col2 span {
        padding: 6px 7px;
    }

}